codigo-fonte-node-red.json
[
    {
        "id": "dc30da83c2ecb81c",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c9d05687ecda9a9",
        "type": "mqtt in",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "topic": "allanantunesdasilva/dispensar",
        "qos": "2",
        "datatype": "utf8",
        "broker": "d5dddb5d0a7712d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 560,
        "wires": [
            [
                "d2c00265e8516c61",
                "75885277f3087d69",
                "68f04953de3eaadd"
            ]
        ]
    },
    {
        "id": "31456f5637318f2b",
        "type": "arduino out",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "pin": "9",
        "state": "SERVO",
        "arduino": "cbe675267aee75df",
        "x": 1170,
        "y": 400,
        "wires": []
    },
    {
        "id": "75885277f3087d69",
        "type": "delay",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "ebe92fe9a828e927",
                "9552bce3b6decf31",
                "a68fe88e63d607fe",
                "d52b9eac30d2bb08"
            ]
        ]
    },
    {
        "id": "d2c00265e8516c61",
        "type": "function",
        "z": "dc30da83c2ecb81c",
        "name": "Girar a 180 graus",
        "func": "msg.payload = 180\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 360,
        "wires": [
            [
                "31456f5637318f2b"
            ]
        ]
    },
    {
        "id": "ebe92fe9a828e927",
        "type": "function",
        "z": "dc30da83c2ecb81c",
        "name": "Girar a 0 graus",
        "func": "msg.payload = 0\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "31456f5637318f2b"
            ]
        ]
    },
    {
        "id": "c8653e7527054277",
        "type": "arduino out",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "pin": "11",
        "state": "OUTPUT",
        "arduino": "cbe675267aee75df",
        "x": 1170,
        "y": 720,
        "wires": []
    },
    {
        "id": "a68fe88e63d607fe",
        "type": "function",
        "z": "dc30da83c2ecb81c",
        "name": "Acionar o buzzer",
        "func": "msg.payload = 1\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 680,
        "wires": [
            [
                "c8653e7527054277"
            ]
        ]
    },
    {
        "id": "55f79b2b61414326",
        "type": "function",
        "z": "dc30da83c2ecb81c",
        "name": "Desligar o buzzer",
        "func": "msg.payload = 0\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 760,
        "wires": [
            [
                "c8653e7527054277"
            ]
        ]
    },
    {
        "id": "d52b9eac30d2bb08",
        "type": "function",
        "z": "dc30da83c2ecb81c",
        "name": "Ligar o ultrassônico",
        "func": "msg.payload = 1\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 840,
        "wires": [
            [
                "837e761725ca150b"
            ]
        ]
    },
    {
        "id": "578684dbc8592dce",
        "type": "function",
        "z": "dc30da83c2ecb81c",
        "name": "Desligar o ultrassônico",
        "func": "msg.payload = 0\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 920,
        "wires": [
            [
                "837e761725ca150b"
            ]
        ]
    },
    {
        "id": "837e761725ca150b",
        "type": "arduino out",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "pin": "12",
        "state": "OUTPUT",
        "arduino": "cbe675267aee75df",
        "x": 1180,
        "y": 880,
        "wires": []
    },
    {
        "id": "9552bce3b6decf31",
        "type": "function",
        "z": "dc30da83c2ecb81c",
        "name": "Ligar LED",
        "func": "msg.payload = 1\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 520,
        "wires": [
            [
                "be4b33198e5d8c37"
            ]
        ]
    },
    {
        "id": "be4b33198e5d8c37",
        "type": "arduino out",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "pin": "10",
        "state": "OUTPUT",
        "arduino": "cbe675267aee75df",
        "x": 1180,
        "y": 560,
        "wires": []
    },
    {
        "id": "68f04953de3eaadd",
        "type": "delay",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 640,
        "wires": [
            [
                "74b41588fa55f0e1",
                "a68fe88e63d607fe",
                "578684dbc8592dce",
                "55f79b2b61414326"
            ]
        ]
    },
    {
        "id": "74b41588fa55f0e1",
        "type": "function",
        "z": "dc30da83c2ecb81c",
        "name": "Desligar LED",
        "func": "msg.payload = 0\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 600,
        "wires": [
            [
                "be4b33198e5d8c37"
            ]
        ]
    },
    {
        "id": "0a600ec9b505a8a7",
        "type": "arduino in",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "pin": "8",
        "state": "PULLUP",
        "arduino": "cbe675267aee75df",
        "x": 450,
        "y": 780,
        "wires": [
            [
                "d9553b22d7285f4e"
            ]
        ]
    },
    {
        "id": "59f5fcd4b68d0a6e",
        "type": "mqtt out",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "topic": "allanantunesdasilva/botao",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5dddb5d0a7712d0",
        "x": 570,
        "y": 860,
        "wires": []
    },
    {
        "id": "c4bd71a6b4fdebd5",
        "type": "function",
        "z": "dc30da83c2ecb81c",
        "name": "Botão pressionado",
        "func": "const dateString = new Date().toLocaleTimeString([], { day: '2-digit', month: '2-digit' })\n\nmsg.payload = 'Usuário pressionou o botão no dia ' + dateString\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 860,
        "wires": [
            [
                "59f5fcd4b68d0a6e"
            ]
        ]
    },
    {
        "id": "d9553b22d7285f4e",
        "type": "switch",
        "z": "dc30da83c2ecb81c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 780,
        "wires": [
            [
                "c4bd71a6b4fdebd5",
                "74b41588fa55f0e1",
                "55f79b2b61414326",
                "578684dbc8592dce"
            ],
            []
        ]
    },
    {
        "id": "d5dddb5d0a7712d0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cbe675267aee75df",
        "type": "arduino-board",
        "device": "COM5"
    }
]